<div class="accomodations">
  <div class="row">
    <div class="span6">
      <div class="left-section">
        <div class="banner1">
          Hotels
        </div>
        <div class="hotel-link">
          <a href="http://doubletree3.hilton.com/en/hotels/california/doubletree-by-hilton-hotel-claremont-ONTCLDT/index.html">Double Tree Hotel</a>
        </div>
        <div class="distance">
          (1.5 miles away)
        </div>
        <div class="distance">
          ~115$/night
        </div>

        <div class="line">
        </div>


        <div class="hotel-link">
          <a href="http://www.casa425.com/">Casa 425</a>
        </div>

        <div class="distance">
          1.5 miles away
        </div>

        <div class="distance">
          ~165$/night
        </div>

        <div class="line">
        </div>


      </div>
    </div>
    <div class="span6">
      <div class="right-section">
        <div class="banner1">
          Restaurants
        </div>

        <div class="restaurant-link">
          <a href="http://www.thepressrestaurant.com">The Press Restaraunt</a>
        </div>
        <div class="distance2">
          (1.5 miles away)
        </div>
        <div class="line">
        </div>

        <div class="restaurant-link">
          <a href="http://www.thebackabbey.com">The Back Abbey</a>
        </div>

        <div class="distance2">
          (1.5 miles away)
        </div>
        <div class="line">
        </div>

        <div class="restaurant-link">
        <a href="http://eurekaburger.com/locations.html">Eureka Burger</a>
        </div>

        <div class="distance2">
          (1.5 miles away)
        </div>
        <div class="line">
        </div>

        <div class="restaurant-link">
          <a href="http://http://pizzansuchclaremont.com">Pizza N' Such</a>
        </div>

        <div class="distance2">
          (1.5 miles away)
        </div>
        <div class="line">
        </div>

        <div class="restaurant-link">
        <a href="http://www.vivamadrid.com">Viva Madrid</a>
        </div>

        <div class="distance2">
          (1.5 miles away)
        </div>

      </div>
    </div>
  </div>
</div>