<div class="call-bucket">

<div class="title">Announcement and Call for Papers</div>
<div class="title">Ninth Annual Workshop in Macroeconomic Research at Liberal Arts Colleges</div>

<div class="dates">Dates: August 6th and 7th, 2013</div>
<div class="dates">Location: Claremont McKenna College, Claremont CA</div>
<div class="empty-box"></div>

<div class="goals">Goals</div>
<div class="info">The primary goals of the workshop are:</div>
<div class="goals2">
1)	To create an open forum that allows macroeconomists at liberal arts colleges to share their work among peers and gain valuable feedback.
</div>
<div class="goals2">
2)	To build and maintain a network of colleagues with whom to share ideas and collaborate on research projects.
</div>
<div class="empty-box"></div>
<div class="goals">Submissions</div>
<div class="infor">
We invite faculty to submit paper proposals in macroeconomics including growth, business cycle analysis,
  unemployment, monetary economics, fiscal policy, open-economy macro, and international finance.
  We invite a variety of approaches including theoretical and applied work across sub-disciplines from
  economic history to political economy. Submissions from junior faculty are particularly encouraged.
</div>
<div class="empty-box"></div>
<div class="info">
If you are interested in presenting a paper, please submit either a detailed project description
  (1-2 pages) or a rough draft (pdf format preferred).
</div>
<div class="empty-box"></div>
<div class="info">The submission deadline is April 15th, 2013</div>
<div class="info">  Authors will be notified by May 1st, 2013  </div>
<div class="info">  The requested registration deadline is June 1st, 2013</div>
<div class="info">  Final drafts are due July 22nd, 2013 and will be posted on the conference website</div>

<div class="empty-box"></div>
<div class="goals">Discussants and Chairs</div>
<div class="info">
We also welcome participants who are not submitting a paper.
  In particular, we are looking for discussants and session chairs.
  If you would be willing to fill one of these roles, please notify the organizers by
  May 15th by entering your information and the fields you would be willing to discuss or chair.
</div>
<div class="empty-box"></div>
<div class="goals">Travel and Expenses</div>
<div class="info">
Past workshops have consisted of two half-days.
  As this year’s workshop is on the west coast requiring additional time for travel for most participants,
  there was widespread interest in a longer conference. Contingent on sufficient supply of quality papers,
  we are planning for as much as two full days (Tuesday and Wednesday) with travel on Monday and Thursday.
  While we encourage participants to attend the entire workshop, we will be sensitive to scheduling needs for
  those who can only stay for one day.
</div>
<div class="empty-box"></div>
<div class="info">
There are no registration fees. Meals will be covered by Claremont McKenna College.
Participants will likely be responsible for their own travel and lodging expenses.
  We are currently attempting to secure additional funding to assist with these costs
  but can make no guarantees at this point.
</div>
<div class="empty-box"></div>
<div class="info">
  We will provide group rates for a variety of hotel options.
  This will be facilitated by your non-binding notification of hotel preferences upon registration.
  We will also help coordinate ride-sharing to and from the airport and from hotels to campus to
  reduce the demand for rental cars.
</div>
<div class="empty-box"></div>
<div class="info">
The closest airport is Ontario (California), a 15 minute car ride from campus.
Flying into LAX may reduce the number of connections at the cost of a longer ride to campus (50 minutes plus traffic) and a more hectic airport.
Directions and a campus map can be found here: <%= link_to "Directions", directions_path%>
</div>
<div class="empty-box"></div>
<div class="goals">Workshop Organizers</div>
<div class="info">Cameron Shelton, Claremont McKenna College (cshelton@cmc.edu)</div>
<div class="info">Mark Tomljanovich, Drew University (mtomljan@drew.edu)</div>
<div class="info">Ed Gamber, Lafayette College (gambere@lafayette.edu)</div>
<div class="info">Julie Smith, Lafayette College (smithjk@lafayette.edu)</div>
<div class="info">Lewis Davis, Union College (davisl@union.edu)</div>
<div class="info">Bill Craighead, Wesleyan University (bcraighead@wesleyan.edu)</div>
<div class="info">Masami Imai, Wesleyan University (mimai@wesleyan.edu)</div>
<div class="info">Pao-Lin Tien, Wesleyan University (ptien@wesleyan.edu)</div>
<div class="info">Ken Kuttner, Williams College (kkutner@gamil.com)</div>
<div class="empty-box"></div>
<div class="info">Please direct questions pertaining to the 2013 workshop to Cameron Shelton</div>
  <div class="empty-box"></div>

  <%= link_to "Download Call for Papers in a 'Word' Document", root_url + "LAMacro 2013 Announcement and Call for Papers.doc" %>

</div>
