
<div class="directions">

<head>
  <div class="heading-box">
    <div class="heading">Maps & Directions</div>
  </div>
  <a name="Map"></a>


    <p class="note"><b>Note: If you are using an online mapping service for directions, please use 500 East 9th Street, Claremont, CA, 91711.</b>
    </p>

    <div class="center">
      <iframe width="675" height="425" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=claremont+mckenna+college&amp;fb=1&amp;gl=us&amp;hq=claremont+mckenna+college&amp;hnear=claremont+mckenna+college&amp;cid=0,0,5366265104861061460&amp;ll=34.101154,-117.705814&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?ie=UTF8&amp;q=claremont+mckenna+college&amp;fb=1&amp;gl=us&amp;hq=claremont+mckenna+college&amp;hnear=claremont+mckenna+college&amp;cid=0,0,5366265104861061460&amp;ll=34.101154,-117.705814&amp;spn=0.006295,0.006295&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>

    <a name="DirectionsByCar"></a>

    <div class="places-box">
      <div class="heading">Directions</div>
      <div class="sentence">
        If you are traveling by automobile from the following locations...
      </div>
      <div class="cities">
        Los Angeles Area
      </div>
      <div class="cities">
        Pasadena and San Fernando Valley
      </div>
      <div class="cities">
        Orange Country
      </div>
      <div class="sentence2">
      please use the directions listed
      <a href="https://www.claremontmckenna.edu/about/directions.php">HERE</a>.
      </div>

      <div class="sentence">
        Unless otherwise noted, all events will take place at the Freeburg Forum in the Kravis Center building on CMC campus.
      </div>
      <div class="sentence">
        The street address is 888 Columbia Ave, Claremont, CA 91711
      </div>
      <div class="sentence">
        Free street parking is available on Columbia and Dartmouth avenues and 8th, 9th, and 10th streets.
      </div>
      <div class="sentence">
        Or it is a 1.0 mile walk from the Doubletree or Casa 425.
      </div>
      <div class="sentence">
        The Freeburg forum is on the basement level, entered from the east end of the building.
      </div>
      <div class="sentence">
        Here is a link to the <a href="http://www.claremontmckenna.edu/pages/faculty/lenny/colloquium/CMC_map.pdf">Campus Map</a> with the location marked -- <a href="http://www.claremontmckenna.edu/pages/faculty/lenny/colloquium/CMC_map.pdf">Campus Map</a>
      </div>
    </div>

  <div class="line"></div>
  <div class="heading-box">
    <div class="heading"> Airports </div>
  </div>
  <div class="line-divider"></div>
  <div class="airport">
     <a href="http://www.lawa.org/welcomeont.aspx">LA/Ontario Airport</a>
  </div>
  <div class="distance">
    (8.5 miles away)
  </div>
  <div class="line-divider"></div>
  <div class="airport">
     <a href="http://www.lawa.org/welcomelax.aspx">LAX Airport</a>
  </div>
  <div class="distance">
    (50 miles away)
  </div>
  <div class="line-divider"></div>
  <div class="airport">
     <a href="http://www.ocair.com/">John Wayne Airport</a>
  </div>
  <div class="distance">
    (40 miles away)
  </div>
  <div class="line-divider"></div>
  <div class="airport">
    <a href="http://www.burbankairport.com/">Burbank Airport</a>
  </div>
  <div class="distance">
    (42 miles away)
  </div>
  <div class="line-divider"></div>
  <div class="airport">
    <a href="http://www.lgb.org/">Long Beach Airport</a>
  </div>
  <div class="distance">
    (42 miles away)
  </div>






</head>
</div>