
<div class="row">
      <div class="span5">
        <div class="left-section">
          <div class="gray-box">
              <div class="banner1">
                Logistics
              </div>
            <div class="information">
              Papers have been selected and the schedule finalized
              </div>
            <div class="gradient-divider"></div>
            <div class="information">
                Final drafts are due July 22nd, 2013 and will be posted on the conference website
              </div>
            <div class="gradient-divider"></div>
            <div class="information">
              Notify the organizers
            </div>
            <div class="email">
              <a href="http://www.claremontmckenna.edu/academic/faculty/profile.php?Fac=548">Cameron Shelton</a>
            </div>
            <div class="email">
              cameron.shelton@claremontmckenna.edu
            </div>
          </div>
        </div>
      </div>
    <div class="span7">
      <div class="right-section">
        <div class="banner1">
          General Information
        </div>
        <div class="gen-inf">
          9th annual Workshop in Macroeconomic Research at Liberal Arts Colleges
        </div>
        <div class="gen-inf">
          The workshop will be taking place at Claremont Mckenna College
        </div>
        <div class="gen-inf">
          It will be taking place on August 6th-7th - 2013 (Tuesday and Wednesday)
        </div>
        <div class="empty-box"></div>
        <div class="gradient-divider"></div>
        <div class="goals">
          The primary goals of this workshop are:
        </div>
        <div class="goals2">
          to create an open forum that allows macroeconomists at liberal arts
          colleges to expose their work to a group of peers and gain valuable feedback
        </div>
        <div class="goals2">
          to build a network of colleagues with whom to share ideas and collaborate on research projects
        </div>
        <div class="empty-box"></div>
      </div>
    </div>
</div>




