
<div class="schedule">
    <div class="schedule-line1">
      Schedule for Liberal Arts Macro Workshop
    </div>
    <div class="schedule-line">
      Claremont McKenna College
    </div>
    <div class="schedule-line">
      August 6th-7th, 2013
    </div>
    <div class="title">
      Day 1 (Tuesday August 6th)
    </div>
    <div class="schedule-line">
      7:30 – 8:15 Arrival, registration, and breakfast
    </div>
    <div class="schedule-line">
      8:15 – 8:30 Welcome
    </div>
  <div class="schedule-line">
    8:30 – 10:30 Session 1: Fiscal Policy
  </div>
  <div class="a-line">
    • Analyzing Fiscal Policy News from a Cross-Country Perspective
  </div>
  <div class="s-line">
    Author: Mario Solis-Garcia, Macalaster College
  </div>
  <div class="s-line">
    Discussant: Saif Mekhari, University of Richmond
  </div>
  <div class="empty-box"></div>
  <div class="a-line">
    • Comparing Tax and Spending Multipliers: It’s all About Controlling for Monetary Policy
  </div>
  <div class="s-line">
    Author: Andrew Jalil, Occidental College
  </div>
  <div class="s-line">
    Discussant: Mario Solis-Garcia, Occidental College
  </div>
  <div class="empty-box"></div>
  <div class="a-line">
    • Unemployment Multipliers Over the Business Cycle
  </div>
  <div class="s-line">
    Author: Steven Nicar, Franklin and Marshall College
  </div>
  <div class="s-line">
    Discussant: Bill Craighead, Wesleyan University
  </div>
  <div class="empty-box"></div>
  <div class="schedule-line">
    10:30 – 10:50 Coffee
  </div>
  <div class="schedule-line">
    10:50 – 11:50 Breakout Sessions: More than Intermediate Macro
  </div>
  <div class="sc-line">
    Teaching macroeconomic electives: advanced macro, macroeconomic history, fiscal and monetary policy,
    economic growth, money and banking, etc. Topics to range from curricular design to pedagogy and
    classroom resources.
  </div>
  <div class="empty-box"></div>
  <div class="schedule-line">
    12:00 – 1:30 Lunch
  </div>
  <div class="schedule-line">
    1:30 – 3:30 Session 2: Exchange Rates II
  </div>
  <div class="a-line">
    • Monetary Shocks and Real Exchange Rates: Evidence from Two Centuries
  </div>
  <div class="s-line">
    Author: Bill Craighead and Pao-Lin Tien, Wesleyan University
  </div>
  <div class="s-line">
    Discussant: Tom Willett, Claremont McKenna College and Claremont Graduate University
  </div>
  <div class="a-line">
    • On a Liquidity Premium in the Forward Premium and Implications for Interest Parity Theory
  </div>
  <div class="s-line">
    Author: Vikram Kumar, Davidson College
  </div>
  <div class="s-line">
    Discussant: Ricardo Fernholz, Claremont McKenna College
  </div>
  <div class="a-line">
    • Are We Floating Yet? Duration of Fixed Exchange Rate Regimes
  </div>
  <div class="s-line">
    Author: Menna Bizuneh, College of St. Benedict and St. John
  </div>
  <div class="s-line">
    Discussant: Tom Willett, Claremont McKenna College and Claremont Graduate University
  </div>
  <div class="empty-box"></div>
  <div class="schedule-line">
    3:30 – 4:30 Meeting of the Organizing Committee
  </div>
  <div class="schedule-line">
    6:00 Dinner at Casa Moreno
  </div>
  <div class="s-line">
    Please notify the organizer of intent to attend
  </div>
  <div class="schedule-line">
    8:00 Drinks at Casa 425
  </div>
  <div class="empty-box"></div>
  <div class="title">
    Day 2 (Wednesday August 7th)
  </div>
  <div class="schedule-line">7:30 – 8:30 Breakfast</div>
  <div class="schedule-line">8:30 – 10:30 Session 3: Business Cycles</div>
  <div class="a-line">• Analyzing the Effect of Data Revisions on Predictive Densities in a Small-Scale DSGE Model
  </div>
  <div class="s-line">Author: Dean Croushore, University of Richmond </div>
  <div class="s-line">Discussant: Ed Gamber, Lafayette College</div>
  <div class="a-line">• Housing and Endogenous Default</div>
  <div class="s-line">Author: Paul Shea, Bates College</div>
  <div class="s-line">Discussant: Giandomenico Sarolli, Drew University</div>
  <div class="a-line">• Where da Cash At?</div>
  <div class="s-line">Author: M. Saif Mekhari, University of Richmond</div>
  <div class="s-line">Discussant: Ellis Tallman, Oberlin College</div>
  <div class="schedule-line">10:30 – 10:50 Coffee</div>
  <div class="schedule-line">10:50 – 12:10 Session 4: Unemployment</div>
  <div class="a-line">• Working Capital Requirement and the Unemployment Volatility Puzzle</div>
  <div class="s-line">Author: Tsu-Ting Tim Lin, Gettysburg College</div>
  <div class="s-line">Discussant: Chad Curtis, University of Richmond</div>
  <div class="a-line">• Employment and Monetary Policy: The Role of Relative Price Distortions</div>
  <div class="s-line">Author: Merton Finkler, Lawrence University</div>
  <div class="s-line">Discussant: Dean Scrimgeour, Colgate College</div>
  <div class="schedule-line">12:10 – 1:30 Lunch</div>
  <div class="schedule-line">1:30 – 2:50 Session 5: Inflation</div>
  <div class="a-line">• The Effect of the Single Market and the Single Currency on the Convergence of Prices in the European Union</div>
  <div class="s-line">Author: Olena Ogrokhina, Lafayette College</div>
  <div class="s-line">Discussant: Caleb Stroup, Grinnell College</div>
  <div class="a-line">• Sales and the (Mis)Measurement of Price Level Fluctuations</div>
  <div class="s-line">Author: Philip J. Glandon, Kenyon College</div>
  <div class="s-line">Discussant: Julie Smith, Lafayette College</div>
  <div class="schedule-line">3:00 – 3:30 Closing remarks and exit survey</div>

  <div class="aschedule-line">Activity: Angels-Rangers baseball game (7pm) including BBQ tailgate</div>
  <div class="a-line">Must notify the organizer of intent to attend </div>

</div>