<% provide(:title, "Sign in") %>
<div class="page-title">Admin Sign In</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <div class="empty-box"></div>

      <div class="form-label">User Name</div>
      <%= f.text_field :email %>

      <div class="empty-box"></div>

      <div class="form-label">Password</div>
      <%= f.password_field :password %>

      <div class="empty-box"></div>

      <%= f.submit "Sign in", class: "button1" %>
    <% end %>

  </div>
</div>