<% provide(:title, @registrant.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @registrant.name %>
      </h1>
    </section>
  </aside>
  </div>
</div>